.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table td {
    padding: 12px 15px;
}

.styled-table thead tr {
    background-color: #78ccff;
    /* color: #; */
    text-align: left;
}

.styled-table thead td:nth-of-type(even) {
    background-color: #a8a8a842;
}

.styled-table tbody tr {
    border-bottom: 1px solid #cccccc;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #c4e9ff;
}

.styled-table tbody td:nth-of-type(even) {
    background-color: #a8a8a842;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #445b68;
}
